header{
    height: 60px;
    background: white;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0,0.25);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.25);
}
.logo>a>    img{
    height: 40px;
}
.lock{
    font-family: 'Overlock SC', cursive;
}
.reg{
    font-weight: 300;
}
#menu>ul>li{
    margin-left: 15px;
    margin-right: 15px;
}
#menu>ul>li>a{
    font-size: 1.2rem;
    color: #067B21;
    outline: none;
}
.present{
    height: 400px;
    background: white;
    display: flex;
}
.content{
    width: 50%;
    height: 400px;
    background: rgba(33, 123, 33, 0.7);
}
.image{
    width: calc(50% + 200px);
    height: 400px;
    background: rgb(33, 123, 33);
    border-left: 200px solid rgba(255,255  ,255, 0.3);
    border-bottom: 400px solid transparent;
}
#frame{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    overflow: hidden;
}